[Desktop Entry]
Categories=AudioVideo;Recorder;
Comment[en_US]=Downloads Online Media Files
Comment=Downloads Online Media Files
Exec=media-downloader
GenericName=Media downloader tool
Icon=media-downloader
Name[en_US]=Media Downloader
Name=Media Downloader
Name[es]=Descargador de medios
Comment[es]=Herramienta para descargar archivos de medios
GenericName[es]=Gestor de descarga de medios
Keywords=download;youtube-dl;media;videos;music;
Keywords[es]=descargar;youtube-dl;medios;videos;musica;
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-Desktop-File-Install-Version=0.26
